.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .section-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 10rem;
    text-align: center;
  }
  
  .icon {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  