.audio-player-container {
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  border-radius: 10px;
  position: fixed;
  bottom: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: auto; /* اضافه کردن این خط */
  max-width: 90%; /* اطمینان از نمایش صحیح در دستگاه‌های مختلف */
}

.audio-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.audio-control-button {
  background: none;
  border: none;
  color: #01be96;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
}

.volume-slider {
  width: 100px;
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border-radius: 5px;
  height: 5px;
  cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #01be96;
  border-radius: 50%;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #01be96;
  border-radius: 50%;
  cursor: pointer;
}
