.aboutme-container {
  overflow: hidden;


}

.header-content { 
  position: relative;
  z-index: 2; /* content always above */
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* makes it behave like background-size: cover */
  z-index: -1; /* keeps content above */
}

.video-wrapper {
  position: relative;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* acts like background-size: cover */
  z-index: 0; /* video at bottom */
}
.overlay23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../Assets/backgrounds/education.webp") no-repeat center center;
  background-size: cover;
  opacity: 0.1; /* optional: make it partly transparent */
  z-index: 1;
}

 
.section-a1 {

  position: relative;
}

.section-a2 {
  padding: 20px; /* Add padding for better readability */
}

@media (max-width: 768px) {
  .section-a1 {
    height: 100%; /* Adjust height for smaller screens */
  }
  .section-a2 {
    padding: 10px; /* Adjust padding for smaller screens */
  }
}
