.icon {
    position: fixed;
    pointer-events: none; /* آیکون‌ها قابل کلیک نباشند */
    z-index: 9999; /* بالاترین اولویت نمایش */
    width: 50px; /* اندازه آیکون‌ها */
    height: 50px; /* اندازه آیکون‌ها */
  }
  